@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
$fill-color: rgba(31, 32, 65, 0.25);
$links-color: rgba(31, 32, 65, 0.5);
$add-text-color: rgba(31, 32, 65, 0.75);
$header-color: rgba(31, 32, 65, 1);
$test-color: #fff;
$breakpoint-note: 1440px;
$breakpoint-notebook: 1024px;
$breakpoint-table: 768px;
$breakpoint-mobile-l: 425px;
$breakpoint-mobile-m: 375px;
$breakpoint-mobile-s: 320px;